.slide-bar {
    height: calc(75vh - 142px);
    background-image: url(img/img5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 368px;
    animation: slider 40s infinite;
    margin-top: 47px;
}

@keyframes slider {
0% {
    background-image: url("img/bill.jpg");
}
25% {
    background-image: url("img/img2.png");
}
50% {
    background-image: url("img/img3.png");
}
75% {
    background-image: url("img/img4.png");
}
}
.section1{
size: 50px;
}