body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    color: #73787e;
    background-color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Part*/
#header {
    width: 100%;
    height: 420px;
    background-color: white;
}

#logo {
    float: left;
    width: 10%;
}

#logo img {
    margin-top: 0px;
    margin-bottom: 20px;
    width:150px;
}

#navbar {
    float: right;
    width: 75%;
    list-style-type: none;
    margin-top: 45px;
}

#navbar li {
    display: inline;
}

#navbar li a {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFD700;
    padding: 12px 25px;
    line-height: 50px;
}

#navbar li a:hover {
    background-color: #FFD700;
    color: #f9f8f6;
}

#navbar li:first-child a {
    background-color: #FFD700;
    color: #f9f8f6;
}
/* #navbar li a .mdi-cart {
    font-size: 32px;  
    position: relative;
    right: 0; 
    margin-left: 10px;  
} */
#navbar li a .mdi-cart{
    font-size:40px;  
    position: relative;
    right: 0;  
    margin-left: 10px;  
    float: right;
    margin-left: auto;
} 


.btn {
    background-color: #ffbb00;
    color: #fff;
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0rem;
    text-transform: uppercase;
    margin-left: 700px;
    text-align: center;
    justify-content: center;
}


.btn:hover {
    background-color: #2980b9;
}
.cards1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.card1 {
    width: 350px;
    margin: 15px;
    box-shadow: 0px 4px 8px 0 black;
    background-color: white;
    transition: transform 0.4s ease;
}

.card1:hover {
    transform: scale(1.1); 
}

.card1 img {
    max-width: 100%;
    height: 250px;
    width: 100%;
}

.card1-content {
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.card1-content h3 {
    color: #FF4500;
    margin-top: 0;
}

.h2{
    color: #FF8C00;
    margin-left: 30px;
    font-size: 25px;
    text-align: center;
}
.cards2{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.card2{
    width: 350px;
    margin: 15px;
    box-shadow: 0px 4px 8px 0 black;
    background-color: white;
    transition: transform 0.4s ease;
}

.card2:hover {
    transform: scale(1.1); 
}
.card2 img{
    max-width: 100%;
    height: 250px;
    width: 100%;
}
.card2-content{
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.card2-content h3{
    color: #FF4500;
    margin-top: 0;
}
.cards3{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.card3{
    width: 350px;
    margin: 15px;
    box-shadow: 0px 4px 8px 0 black;
    background-color: white;
    transition: transform 0.4s ease;
}

.card3:hover {
    transform: scale(1.1); 
}
.card3 img{
    max-width: 100%;
    height: 250px;
    width: 100%;
}
.card3-content{
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.card3-content h3{
    color: #FF4500;
    margin-top: 0;
}
.add-to-cart-btn {
    background-color: #a4c639; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}
.quantity-input {
    width: 50px; 
    padding: 5px; 
    text-align: center; 
    font-size: 14px; 
}

.footer{
background-color:#FFD700;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:white;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:white;
transition:0.5s;
}

.footer .row a:hover{
color:black;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
.container .highlights h2 {
    display: flex;
    justify-content: center;
  }
  .container .cardcontainer .card img {
    display: flex;
    width: 300px;
    height: 170px;
  }
  .container .cardcontainer {
    display: flex;
    justify-content: space-around;
    margin: 20px 150px;
    cursor: pointer;
  }
  .cardcontainer p {
    text-align: center;
    padding: 10px;
    color: #F95112;
    font-size: 0.8em;
  }
  .cardcontainer h4 {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 1em;
  }
  .bg-gray .container p {
    text-align: center;
    padding: 0px;
    font-size: 1.5em;
    color: #FF8C00;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  span {
    font-weight: bold;
  }
  .bg-gray .cardwatches {
    display: flex;
    justify-content: space-around;
    margin: 50px 150px;
  }
  .cardw img {
    width: 140px;
    height: 185px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.cardw img:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
    transform: scale(1.2);
    z-index: 2;

}

  .collection_name {
    margin: auto;
    font-size: 0.8em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    cursor: pointer;
  }
  .collection_models {
    margin: auto;
    max-width: 130px;
    margin-top: 10px;
    font-size: 0.8em;
    padding: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
  }
  .collection_models a{
    color: black;
    text-decoration: none;
  }
  .collection_number {
    color: black;
    margin-top: 10px;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  .cardwatches .family_name {
    text-align: center;
  }
  .collection_models:hover {
    background-color: white;
    color: #755d49;
  }
  .dots {
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
  }
  .bg-gray {
    margin-top: 40px;
    height:470px;
    background-color: white;
  }
.styled-table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.styled-table thead {
    background-color: #FFD700;
    color: #ffffff;
}

.styled-table th, .styled-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr {
    transition: background-color 0.3s;
}

.styled-table tbody tr:hover {
    background-color: #f9f9f9;
}

#add_entity {
    text-decoration: none;
    padding: 10px 15px;
    background: orange;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    transition: background 0.4s ease;
}

#add_entity:hover {
    background: #2ecc71;
}

.forma {
    width: 100%;
    margin: 0 auto;
}
.forma h1 {
    font-size: 21px;
    color: #a5c639;
    margin-bottom: 20px;
}

.forma input,
.forma textarea  {
    width: 500px;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
    border-color: #a5c6399f;
}

.forma input,
.forma textarea {
    caret-color: black;
}

select {
    width: 513px;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
}

.forma label {
    color: #a4c639;
    font-size: 20px;
}

.forma .inputAndLabels {
    margin-bottom: 20px;
}

.shtoModifiko {
    text-decoration: none;
    border: none;
    padding: 10px;
    background: #a4c639;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;
}


.kategorite .styled-table {
    position: relative;
    bottom: 40px;
}

.kategorite .styled-table th,
.styled-table td {
    text-align: left;
}

.btn-filtro {
    border: none;
    padding: 5px 10px;
    background: #a4c639;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;
    margin-left: 20px;
}

.list-entity .filter {
    width: 100%;
    display: flex;
    justify-content: end;
}
.seksioni {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: #f0f0f0;
}

.teksti {
    max-width: 400px;
}

.teksti h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer{
    background-color:#FFD700;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    width: 100%;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:black;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
    
select {
    width: 513px;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
}
.formaLogin {
    max-width: 400px;
    margin: 0 auto;
    background: rgb(242, 255, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modifiko div {
    margin-bottom: 15px;
}

.modifiko input, .modifiko select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #7f4d4d;
    outline: none;
}

.modifiko select {
    background:#ffa200;
}

.modifiko input[type="submit"] {
    background: #ffa200;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.4s ease;
}

.modifiko input[type="submit"]:hover {
    background: #f6ff00;
}
#shporta {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#shporta h2 {
    color: #333;
}

#shporta p {
    margin: 10px 0;
}

#shporta form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shporta input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}

#shporta input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#shporta a {
    color: #ff6347; /* Red-Orange */
    text-decoration: none;
    margin-left: 10px;
}

#shporta a:hover {
    text-decoration: underline;
}

#shporta p.total {
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

