.section2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.section2 h2 {
    font-size: 20px;
    color: #FF8C00;
}

.content-wrapper {
    padding: 20px;
    flex: 1;
    line-height: 1.4rem;
    box-sizing: border-box;
}

.image {
    flex: 1;
    width: 300px;
    height: 300px;
}

.image img {
    max-width: 100%;
    height: auto; 
    margin-left:0px;
    margin-top: 50px;
}

.section2 p {
    font-size: 16px;
}